html{
    background-image: url(https://i.imgur.com/mSPU63U.jpg);
}
#calculator{
    background-color: white;
    height: 450px;
    width: 350px;
    margin: auto;
    margin-top: 20vmin;
    position: relative;
    /* border: 1px solid black;s */
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;

}
input{
    width: 98%;
    border: none;
    outline: none;
    height: 130px;
    margin-top: 2%;
    font-size: 250%;
    border-radius: 20px;


}
#main{
    /* background-color: chartreuse; */
    height: 60%;
    
    margin-top: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    

}
.grid-items{
    text-align: center;
    margin: auto;
    border-radius: 40%;
    padding: 12px 20px;
    margin-top: 8px;
    font-size: 35px;
    border: none;
    background-color: white;    
    outline: none;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    
    
}
